@font-face {
    font-family: 'furoreregular';
    src: url('../fonts/furore-webfont.eot');
    src: url('../fonts/furore-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/furore-webfont.woff2') format('woff2'),
    url('../fonts/furore-webfont.woff') format('woff'),
    url('../fonts/furore-webfont.ttf') format('truetype'),
    url('../fonts/furore-webfont.svg#furoreregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
