---
title: George Bardis
siteURL: http://www.domainname.com
pageURL: /
siteName: Deck of Cards

meta_description:
meta_keywords:
fb_description:
twitter_description:
twitter_user: bardius
---

                        <div class="row contents-row">
                            <div class="large-12 columns">
                                <main ng-view></main>
                            </div>
                        </div>
