
                        <!--  ==============  -->
                        <!--  === Footer ===  -->
                        <!--  ==============  -->
                        <footer>
                            <div class="row footer">
                                <div id="copyrights" class="large-12 small-12 columns">
                                    <p>
                                        Copyrights &copy; 2016<br/>
                                        Created by <a href="http://www.bardis.info" title="George Bardis" target="_blank">George Bardis</a>
                                    </p>
                                </div>
                            </div>
                        </footer>
