
                                    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [small,medium,large]">
                                        <div id="logo">
                                            <h1 class="logo">
                                                <a href="/#/" title="{{ page.siteName }}">
                                                    <img src="/images/site_assets/site-logo.png" alt="{{ page.siteName }}" />
                                                    <span class="inv">{{ page.title }}</span>
                                                </a>
                                            </h1>
                                        </div>

                                        <section class="top-bar-section hide-for-medium-down right">
                                            <ul class="menu left">
                                                <li class="item1 level0">
                                                    <a href="/#/" class="" title="Deck of Cards"><span>Deck of Cards</span></a>
                                                </li>
                                                <li class="item2 level0">
                                                    <a href="/#/sample" class="" title="Sample Page"><span>Sample Page</span></a>
                                                </li>
                                            </ul>
                                        </section>

                                        <ul class="title-area show-for-medium-down right">
                                            <li class="name"></li>
                                            <li class="toggle-topbar menu-icon show-for-medium-down">
                                                <a class="left-off-canvas-toggle menu-icon">
                                                    <span>Menu</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <h3 class="title-copy top-bar-section right">
                                        </h3>
                                    </nav>
