                        <!-- Off Canvas Menu -->
                        <aside class="left-off-canvas-menu">
                            <ul class="off-canvas-list">
                                <li><label>Menu</label></li>
                                <li class="item1 level0">
                                    <a href="/#/" class="" title="Deck of Cards"><span>Deck of Cards</span></a>
                                </li>
                                <li class="item2 level0">
                                    <a href="/#/sample" class="" title="Sample Page"><span>Sample Page</span></a>
                                </li>
                                <li>
                                    <a class="exit-off-canvas" href="/#/" title="Close Menu">
                                        <span><i class="fi-x"></i> Close Menu</span>
                                    </a>
                                </li>
                            </ul>
                        </aside>
